doctype
html
  head
    meta(charset='UTF-8')
    title break modal
    link(rel="stylesheet", type="text/css", href="css/main.css")
    //- link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700', rel='stylesheet', type='text/css')

  mixin input(o)
    .input-with-label
      input(id="#{o.id}", type="#{o.type || 'text'}").input-with-label__input
      label(for="#{o.id}").input-with-label__label #{o.placeholder || ''}
        .input-with-label__label__corner
  body
    include css/icons.svg

    .look Look Ma! I broke that HTML!

    a.by(href="http://twitter.com/legomushroom")

    #js-show-modal.launch-button show modal
      .launch-button__glare

    //- iframe(src="http://www.deepeastmusic.com/", style="width:100%;height:900px")
    .modal-overlay#js-modal-overlay

    .modal-holder#js-modal-holder
      .hint.hint--1#js-hint1 play with the form
        br
        |  to be sure it is just
        br
        | a plain HTML

      .hint.hint--2#js-hint2 then hit
        br
        |  the close icon

      .effect#js-effect(style="outline1: 1px solid red")
        .effect__burst
          svg(viewBox="0 0 300 300", width="300", height="300")#js-burst
            g#Group(sketch:type='MSLayerGroup', transform='translate(2.000000, 2.000000)')
              //- path#Path-58(d='M118.350422,126.327527 C118.350422,126.327527 112.871539,147.350011 111.93329,150.537556 C103.942967,177.683345 86.465983,239.096303 86.465983,239.096303', stroke='#B8E986', stroke-width='3', sketch:type='MSShapeGroup', transform='translate(102.408203, 182.711915) rotate(9.000000) translate(-102.408203, -182.711915) ')
              path#Path-59(d='M119.843557,132.665423 L142.438936,241.234321', stroke='#FC46AD', stroke-width='2', sketch:type='MSShapeGroup', transform='translate(131.141247, 186.949872) rotate(9.000000) translate(-131.141247, -186.949872) ')
              path#Path-60(d='M120.923275,136.327807 L194.055085,223.544529', stroke='#D0D202', stroke-width='2', sketch:type='MSShapeGroup', transform='translate(157.489180, 179.936168) rotate(9.000000) translate(-157.489180, -179.936168) ')
              //- path#Path-58(d='M179.562336,17.8249426 L143.698174,133.846347', stroke='#B8E986', stroke-width='2', sketch:type='MSShapeGroup', transform='translate(161.630255, 75.835645) rotate(-165.000000) translate(-161.630255, -75.835645) ')
              path#Path-59(d='M110.892215,7.63766131 L143.724586,126.274355', stroke='#FFE217', stroke-width='2', sketch:type='MSShapeGroup', transform='translate(127.308401, 66.956008) rotate(-165.000000) translate(-127.308401, -66.956008) ')
              //- path#Path-60(d='M55.3257674,25.7667872 L142.465538,120.566918', stroke='#FC46AD', stroke-width='2', sketch:type='MSShapeGroup', transform='translate(98.895653, 73.166852) rotate(-165.000000) translate(-98.895653, -73.166852) ')           
              path#Path-58(d='M198.35904,105.458064 L161.773069,223.598866', stroke='#B8E986', stroke-width='3', sketch:type='MSShapeGroup', transform='translate(180.066054, 164.528465) rotate(-74.000000) translate(-180.066054, -164.528465) ')           
              //- path#Path-59(d='M183.979309,75.470935 L201.974787,204.018749', stroke='#FC46AD', stroke-width='2', sketch:type='MSShapeGroup', transform='translate(192.977048, 139.744842) rotate(-74.000000) translate(-192.977048, -139.744842) ')           
              path#Path-60(d='M146.454121,53.5458334 L227.175148,153.69563', stroke='#D0D202', stroke-width='2', sketch:type='MSShapeGroup', transform='translate(186.814634, 103.620732) rotate(-74.000000) translate(-186.814634, -103.620732) ')           
              path#Path-58(d='M94.4127006,27.0036828 L46.0682754,156.269505', stroke='#51CAD7', stroke-width='3', sketch:type='MSShapeGroup', transform='translate(70.240488, 91.636594) rotate(-257.000000) translate(-70.240488, -91.636594) ')           
              //- path#Path-59(d='M54.5993676,60.5825031 L71.3919207,185.780336', stroke='#D0011B', stroke-width='2', sketch:type='MSShapeGroup', transform='translate(62.995644, 123.181420) rotate(-257.000000) translate(-62.995644, -123.181420) ')           
              path#Path-60(d='M29.3969741,113.63349 L113.205038,207.338224', stroke='#FC3F6B', stroke-width='2', sketch:type='MSShapeGroup', transform='translate(71.301006, 160.485857) rotate(-257.000000) translate(-71.301006, -160.485857) ')           
              //- path#Path-58(d='M202.377065,75.1529179 C202.377065,75.1529179 196.898182,96.1754021 195.959933,99.3629466 C187.96961,126.508735 170.492626,187.921694 170.492626,187.921694', stroke='#B8E986', stroke-width='3', sketch:type='MSShapeGroup', transform='translate(186.434846, 131.537306) rotate(-104.000000) translate(-186.434846, -131.537306) ')           
              //- path#Path-59(d='M167.811321,49.1480489 L190.4067,157.716946', stroke='#FC46AD', stroke-width='2', sketch:type='MSShapeGroup', transform='translate(179.109011, 103.432498) rotate(-104.000000) translate(-179.109011, -103.432498) ')           
              path#Path-60(d='M125.792,38.3112087 L198.92381,125.527931', stroke='#D0D202', stroke-width='2', sketch:type='MSShapeGroup', transform='translate(162.357905, 81.919570) rotate(-104.000000) translate(-162.357905, -81.919570) ')           
              //- path#Path-58(d='M82.8469021,60.7723026 L46.9827396,176.793707', stroke='#B8E986', stroke-width='2', sketch:type='MSShapeGroup', transform='translate(64.914821, 118.783005) rotate(-278.000000) translate(-64.914821, -118.783005) ')           
              //- path#Path-59(d='M53.7355039,94.5276419 L86.5678744,213.164336', stroke='#FFE217', stroke-width='2', sketch:type='MSShapeGroup', transform='translate(70.151689, 153.845989) rotate(-278.000000) translate(-70.151689, -153.845989) ')           
              path#Path-60(d='M43.4006609,130.173225 L130.540432,224.973356', stroke='#FC46AD', stroke-width='2', sketch:type='MSShapeGroup', transform='translate(86.970546, 177.573291) rotate(-278.000000) translate(-86.970546, -177.573291) ')           
              path#Path-58(d='M157.646537,8.08731537 L121.060566,126.228117', stroke='#B8E986', stroke-width='3', sketch:type='MSShapeGroup', transform='translate(139.353552, 67.157716) rotate(-187.000000) translate(-139.353552, -67.157716) ')           
              //- path#Path-59(d='M102.49764,0.682909794 L120.493118,129.230724', stroke='#FC46AD', stroke-width='2', sketch:type='MSShapeGroup', transform='translate(111.495379, 64.956817) rotate(-187.000000) translate(-111.495379, -64.956817) ')           
              //- path#Path-60(d='M40.2902938,34.6692648 L121.011321,134.819061', stroke='#D0D202', stroke-width='2', sketch:type='MSShapeGroup', transform='translate(80.650807, 84.744163) rotate(-187.000000) translate(-80.650807, -84.744163) ')           
              path#Path-58(d='M139.340711,132.100895 L90.9962855,261.366717', stroke='#51CAD7', stroke-width='3', sketch:type='MSShapeGroup', transform='translate(115.168498, 196.733806) rotate(-10.000000) translate(-115.168498, -196.733806) ')           
              //- path#Path-59(d='M138.640173,128.478258 L155.432726,253.676091', stroke='#D0011B', stroke-width='2', sketch:type='MSShapeGroup', transform='translate(147.036449, 191.077175) rotate(-10.000000) translate(-147.036449, -191.077175) ')           
              path#Path-60(d='M136.22617,122.003677 L220.034234,215.708411', stroke='#FC3F6B', stroke-width='2', sketch:type='MSShapeGroup', transform='translate(178.130202, 168.856044) rotate(-10.000000) translate(-178.130202, -168.856044) ')

            //- g(id='Path-58-+-Path-59-+-Path-60', transform='translate(30.450836, 39.033951) rotate(9.000000) translate(-30.450836, -39.033951) translate(19.950836, 30.033951)')
            //-   path#Path-58(d='M5.75371172,0.362789702 L0.727043407,17.557757', stroke='#B8E986', stroke-width='3', sketch:type='MSShapeGroup')
            //-   path#Path-59(d='M7.71795437,0.362789702 L11.0744517,17.7406336', stroke='#FC46AD', stroke-width='2', sketch:type='MSShapeGroup')
            //-   path#Path-60(d='M8.70113239,0.362789702 L20.9210688,13.4506889', stroke='#D0D202', stroke-width='2', sketch:type='MSShapeGroup')
            //- g(id='Path-58-+-Path-59-+-Path-61', transform='translate(27.445806, 13.864323) rotate(-165.000000) translate(-27.445806, -13.864323) translate(15.945806, 3.864323)', stroke-width='2')
            //-   path#Path-58(d='M6.04427319,1.61113036 L0.379892643,18.9952118', stroke='#B8E986', sketch:type='MSShapeGroup')
            //-   path#Path-59(d='M7.93452909,1.31745579 L12.7789233,19.7422242', stroke='#FFE217', sketch:type='MSShapeGroup')
            //-   path#Path-60(d='M10.2487412,0.0502553229 L22.9044132,14.7133851', stroke='#FC46AD', sketch:type='MSShapeGroup')
            //- g(id='Path-58-+-Path-59-+-Path-62', transform='translate(43.025684, 26.429356) rotate(-74.000000) translate(-43.025684, -26.429356) translate(32.025684, 14.429356)')
            //-   path#Path-58(d='M5.1285867,1.52682801 L0.485936929,20.9282085', stroke='#B8E986', stroke-width='3', sketch:type='MSShapeGroup')
            //-   path#Path-59(d='M6.76767053,1.89140399 L9.97281875,23.051276', stroke='#FC46AD', stroke-width='2', sketch:type='MSShapeGroup')
            //-   path#Path-60(d='M8.76579638,0.932402432 L21.8893516,18.2251881', stroke='#D0D202', stroke-width='2', sketch:type='MSShapeGroup')
            //- g(id='Path-58-+-Path-59-+-Path-63', transform='translate(14.621197, 26.150553) rotate(-257.000000) translate(-14.621197, -26.150553) translate(4.121197, 15.150553)')
            //-   path#Path-58(d='M6.70022547,1.06179893 L0.250188796,20.9820584', stroke='#51CAD7', stroke-width='3', sketch:type='MSShapeGroup')
            //-   path#Path-59(d='M8.36562846,1.06179893 L12.2706463,21.2597703', stroke='#D0011B', stroke-width='2', sketch:type='MSShapeGroup')
            //-   path#Path-60(d='M9.96184106,0.158731082 L24.3866629,14.9251267', stroke='#FC3F6B', stroke-width='2', sketch:type='MSShapeGroup')

        .effect__circle
          svg(viewBox="0 0 100 100", width="100", height="100")
            circle(cx="50", cy="50", fill="none")#js-circle
        .effect__line.effect__line--1
          - var len = 900
          svg(viewBox="0 0 4 #{len}", width="4", height="#{len}")
            defs
              g.js-line#proto-line
                line(x1="2", x2="2", y1="0", y2="#{len}", stroke="red", stroke-dasharray="#{len} #{2*len}", stroke-dashoffset="#{len}")
                line(x1="2", x2="2", y1="0", y2="#{len}", stroke="red", stroke-dasharray="#{len} #{2*len}", stroke-dashoffset="#{len}")
                line(x1="2", x2="2", y1="0", y2="#{len}", stroke="red", stroke-dasharray="#{len} #{2*len}", stroke-dashoffset="#{len}")
            use(xlink:href="#proto-line", width="4", height="#{len}")
        .effect__line.effect__line--2
          svg(viewBox="0 0 4 #{len}", width="4", height="#{len}")
            use(xlink:href="#proto-line", width="4", height="#{len}")
        .effect__line.effect__line--3
          svg(viewBox="0 0 4 #{len}", width="4", height="#{len}")
            use(xlink:href="#proto-line", width="4", height="#{len}")

        .effect__line.effect__line--4
          svg(viewBox="0 0 4 #{len}", width="4", height="#{len}")
            use(xlink:href="#proto-line", width="4", height="#{len}")


          //- g#js-line2
          //-   line(x1="450", x2="0", y1="150", y2="600", stroke-dasharray="636.396103068", stroke-dashoffset="636.396103068")
          //-   line(x1="450", x2="0", y1="150", y2="600", stroke-dasharray="636.396103068", stroke-dashoffset="636.396103068")
          //-   line(x1="450", x2="0", y1="150", y2="600", stroke-dasharray="636.396103068", stroke-dashoffset="636.396103068")
          //- g#js-line3
          //-   line(x1="450", x2="300", y1="150", y2="0", stroke-dasharray="212.13203435596427", stroke-dashoffset="212.13203435596427")
          //-   line(x1="450", x2="300", y1="150", y2="0", stroke-dasharray="212.13203435596427", stroke-dashoffset="212.13203435596427")
          //-   line(x1="450", x2="300", y1="150", y2="0", stroke-dasharray="212.13203435596427", stroke-dashoffset="212.13203435596427")
          //- g#js-line4
          //-   line(x1="450", x2="600", y1="150", y2="300",  stroke-dasharray="212.13203435596427", stroke-dashoffset="212.13203435596427")
          //-   line(x1="450", x2="600", y1="150", y2="300",  stroke-dasharray="212.13203435596427", stroke-dashoffset="212.13203435596427")
          //-   line(x1="450", x2="600", y1="150", y2="300",  stroke-dasharray="212.13203435596427", stroke-dashoffset="212.13203435596427")
          
      form1(action="").modal#js-modal
        .modal__close#js-close-button
          - var el = { path: 'close-icon', class: '', id: ''} 
          include css/partials/icon
        .modal__header Log In
        .modal__description this is dumb modal window, click × to close it
        .modal__section
          +input({ placeholder: 'username or email', id: 'name', type: 'text' })
        .modal__section
          +input({ placeholder: 'password', id: 'password', type: 'password' })
        .modal__section.grid.grid--sliced.grid--gutter-x2
          .grid-bit.grid-bit--14-20
            button(type="submit") log in
          .grid-bit.grid-bit--6-20
            button.button--grey cancel

      svg(style="display:none")
        image(width="480", height="450", xlink:href="")#proto-image.js-proto-image
      .break-parts#js-break-parts
        .svg-overlay
          svg(viewBox="0 0 480 450")#js-svg1
            clipPath#clip1
              path(d="M0,450.575574 L0,0 L424.903452,0 L452.375,28.5599486 L20.5087638,460.426185 L0,450.575574 Z")
            use(xlink:href="#proto-image", clip-path="url(#clip1)")#js-image1
        .svg-overlay.svg-overlay--2
          svg(viewBox="0 0 480 450")#js-svg2
            clipPath#clip2
              path(d="M452.214614,28.6494713 L424.309513,0 L482.040672,0 L452.214614,28.6494713 Z")
            use(xlink:href="#proto-image", clip-path="url(#clip2)")#js-image2
        .svg-overlay.svg-overlay--3
          svg(viewBox="0 0 480 450")#js-svg3
            clipPath#clip3
              path(d="M452.320312,28.526424 L482,58 L482,0.066291362 L452.320312,28.526424 Z")
            use(xlink:href="#proto-image", clip-path="url(#clip3)")#js-image3
        .svg-overlay
          svg(viewBox="0 0 480 450")#js-svg4
            clipPath#clip4
              path(d="M452.270844,28.4954427 L482,57.8942871 L482,451 L29.2740886,450.99999 L452.270844,28.4954427 Z")
            use(xlink:href="#proto-image", clip-path="url(#clip4)")#js-image4

    script(src="js/jquery-2.1.3.min.js")
    script(src="js/tween.js")
    script(src="js/html2canvas.js")
    script(src="dist/main.js")


    



