doctype
html
  head
    meta(charset='UTF-8')
    title break modal
    link(rel="stylesheet", type="text/css", href="css/main.css")
    //- link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700', rel='stylesheet', type='text/css')

  mixin input(o)
    .input-with-label
      input(id="#{o.id}", type="#{o.type || 'text'}").input-with-label__input
      label(for="#{o.id}").input-with-label__label #{o.placeholder || ''}
        .input-with-label__label__corner
  body
    include css/icons.svg

    .look Look Ma! I broke that HTML!

    a.by(href="http://twitter.com/legomushroom")

    #js-show-modal.launch-button show modal
      .launch-button__glare

    //- iframe(src="http://www.deepeastmusic.com/", style="width:100%;height:900px")
    .modal-overlay#js-modal-overlay

    .modal-holder#js-modal-holder
      .hint.hint--1 play with the form to be sure it is just a plain HTML
      .hint.hint--2 then hit
        br
        |  the close icon

      .effect#js-effect(style="outline1: 1px solid red")
        .effect__circle
          svg(viewBox="0 0 100 100", width="100", height="100")
            circle(cx="50", cy="50", fill="none")#js-circle
        .effect__line.effect__line--1
          - var len = 900
          svg(viewBox="0 0 4 #{len}", width="4", height="#{len}")
            defs
              g.js-line#proto-line
                line(x1="2", x2="2", y1="0", y2="#{len}", stroke="red", stroke-dasharray="#{len}", stroke-dashoffset="#{len}")
                line(x1="2", x2="2", y1="0", y2="#{len}", stroke="red", stroke-dasharray="#{len}", stroke-dashoffset="#{len}")
                line(x1="2", x2="2", y1="0", y2="#{len}", stroke="red", stroke-dasharray="#{len}", stroke-dashoffset="#{len}")
            use(xlink:href="#proto-line", width="4", height="#{len}")
        .effect__line.effect__line--2
          svg(viewBox="0 0 4 #{len}", width="4", height="#{len}")
            use(xlink:href="#proto-line", width="4", height="#{len}")
        .effect__line.effect__line--3
          svg(viewBox="0 0 4 #{len}", width="4", height="#{len}")
            use(xlink:href="#proto-line", width="4", height="#{len}")

        .effect__line.effect__line--4
          svg(viewBox="0 0 4 #{len}", width="4", height="#{len}")
            use(xlink:href="#proto-line", width="4", height="#{len}")


          //- g#js-line2
          //-   line(x1="450", x2="0", y1="150", y2="600", stroke-dasharray="636.396103068", stroke-dashoffset="636.396103068")
          //-   line(x1="450", x2="0", y1="150", y2="600", stroke-dasharray="636.396103068", stroke-dashoffset="636.396103068")
          //-   line(x1="450", x2="0", y1="150", y2="600", stroke-dasharray="636.396103068", stroke-dashoffset="636.396103068")
          //- g#js-line3
          //-   line(x1="450", x2="300", y1="150", y2="0", stroke-dasharray="212.13203435596427", stroke-dashoffset="212.13203435596427")
          //-   line(x1="450", x2="300", y1="150", y2="0", stroke-dasharray="212.13203435596427", stroke-dashoffset="212.13203435596427")
          //-   line(x1="450", x2="300", y1="150", y2="0", stroke-dasharray="212.13203435596427", stroke-dashoffset="212.13203435596427")
          //- g#js-line4
          //-   line(x1="450", x2="600", y1="150", y2="300",  stroke-dasharray="212.13203435596427", stroke-dashoffset="212.13203435596427")
          //-   line(x1="450", x2="600", y1="150", y2="300",  stroke-dasharray="212.13203435596427", stroke-dashoffset="212.13203435596427")
          //-   line(x1="450", x2="600", y1="150", y2="300",  stroke-dasharray="212.13203435596427", stroke-dashoffset="212.13203435596427")
          
      form1(action="").modal#js-modal
        .modal__close#js-close-button
          - var el = { path: 'close-icon', class: '', id: ''} 
          include css/partials/icon
        .modal__header Log In
        .modal__description this is dumb modal window, click × to close it
        .modal__section
          +input({ placeholder: 'username or email', id: 'name', type: 'text' })
        .modal__section
          +input({ placeholder: 'password', id: 'password', type: 'password' })
        .modal__section.grid.grid--sliced.grid--gutter-x2
          .grid-bit.grid-bit--14-20
            button(type="submit") log in
          .grid-bit.grid-bit--6-20
            button.button--grey cancel

      svg(style="display:none")
        image(width="480", height="450", xlink:href="")#proto-image.js-proto-image
      .break-parts#js-break-parts
        .svg-overlay
          svg(viewBox="0 0 480 450")#js-svg1
            clipPath#clip1
              path(d="M0,450.575574 L0,0 L424.903452,0 L452.375,28.5599486 L20.5087638,460.426185 L0,450.575574 Z")
            use(xlink:href="#proto-image", clip-path="url(#clip1)")#js-image1
        .svg-overlay.svg-overlay--2
          svg(viewBox="0 0 480 450")#js-svg2
            clipPath#clip2
              path(d="M452.214614,28.6494713 L424.309513,0 L482.040672,0 L452.214614,28.6494713 Z")
            use(xlink:href="#proto-image", clip-path="url(#clip2)")#js-image2
        .svg-overlay.svg-overlay--3
          svg(viewBox="0 0 480 450")#js-svg3
            clipPath#clip3
              path(d="M452.320312,28.526424 L482,58 L482,0.066291362 L452.320312,28.526424 Z")
            use(xlink:href="#proto-image", clip-path="url(#clip3)")#js-image3
        .svg-overlay
          svg(viewBox="0 0 480 450")#js-svg4
            clipPath#clip4
              path(d="M452.270844,28.4954427 L482,57.8942871 L482,451 L29.2740886,450.99999 L452.270844,28.4954427 Z")
            use(xlink:href="#proto-image", clip-path="url(#clip4)")#js-image4

    script(src="js/jquery-2.1.3.min.js")
    script(src="js/tween.js")
    script(src="js/html2canvas.js")
    script(src="dist/main.js")


    



