doctype
html
  head
    meta(charset='UTF-8')
    title break modal
    link(rel="stylesheet", type="text/css", href="css/main.css")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700', rel='stylesheet', type='text/css')

  mixin input(o)
    .input-with-label
      input(id="#{o.id}", type="#{o.type || 'text'}").input-with-label__input
      label(for="#{o.id}").input-with-label__label #{o.placeholder || ''}
        .input-with-label__label__corner
  body
    include css/icons.svg

    .look Look Ma! I broke that HTML!

    a.by(href="http://twitter.com/legomushroom")

    #js-show-modal.launch-button show modal
      .launch-button__glare

    //- iframe(src="http://www.deepeastmusic.com/", style="width:100%;height:900px")
    .modal-overlay#js-modal-overlay

    .modal-holder#js-modal-holder
      .hint.hint--1#js-hint1 play with the form
        br
        |  to be sure it is just
        br
        | a plain HTML

      .hint.hint--2#js-hint2 then hit
        br
        |  the close icon
      .effect#js-effect(style="outline1: 1px solid red")
        .effect__burst
          svg(viewBox="0 0 300 300", width="300", height="300")#js-burst
            g#Group(sketch:type='MSLayerGroup', transform='translate(2.000000, 2.000000)')
              path#Path-59(d='M119.843557,132.665423 L142.438936,241.234321', stroke='#FC46AD', stroke-width='2', transform='translate(131.141247, 186.949872) rotate(9.000000) translate(-131.141247, -186.949872) ')
              path#Path-60(d='M120.923275,136.327807 L194.055085,223.544529', stroke='#D0D202', stroke-width='2', transform='translate(157.489180, 179.936168) rotate(9.000000) translate(-157.489180, -179.936168) ')
              path#Path-59(d='M110.892215,7.63766131 L143.724586,126.274355', stroke='#FFE217', stroke-width='2', transform='translate(127.308401, 66.956008) rotate(-165.000000) translate(-127.308401, -66.956008) ')
              path#Path-58(d='M198.35904,105.458064 L161.773069,223.598866', stroke='#B8E986', stroke-width='3', transform='translate(180.066054, 164.528465) rotate(-74.000000) translate(-180.066054, -164.528465) ')           
              path#Path-60(d='M146.454121,53.5458334 L227.175148,153.69563', stroke='#D0D202', stroke-width='2', transform='translate(186.814634, 103.620732) rotate(-74.000000) translate(-186.814634, -103.620732) ')           
              path#Path-58(d='M94.4127006,27.0036828 L46.0682754,156.269505', stroke='#51CAD7', stroke-width='3', transform='translate(70.240488, 91.636594) rotate(-257.000000) translate(-70.240488, -91.636594) ')           
              path#Path-60(d='M29.3969741,113.63349 L113.205038,207.338224', stroke='#FC3F6B', stroke-width='2', transform='translate(71.301006, 160.485857) rotate(-257.000000) translate(-71.301006, -160.485857) ')           
              path#Path-60(d='M125.792,38.3112087 L198.92381,125.527931', stroke='#D0D202', stroke-width='2', transform='translate(162.357905, 81.919570) rotate(-104.000000) translate(-162.357905, -81.919570) ')           
              path#Path-60(d='M43.4006609,130.173225 L130.540432,224.973356', stroke='#FC46AD', stroke-width='2', transform='translate(86.970546, 177.573291) rotate(-278.000000) translate(-86.970546, -177.573291) ')           
              path#Path-58(d='M157.646537,8.08731537 L121.060566,126.228117', stroke='#B8E986', stroke-width='3', transform='translate(139.353552, 67.157716) rotate(-187.000000) translate(-139.353552, -67.157716) ')           
              path#Path-58(d='M139.340711,132.100895 L90.9962855,261.366717', stroke='#51CAD7', stroke-width='3', transform='translate(115.168498, 196.733806) rotate(-10.000000) translate(-115.168498, -196.733806) ')           
              path#Path-60(d='M136.22617,122.003677 L220.034234,215.708411', stroke='#FC3F6B', stroke-width='2', transform='translate(178.130202, 168.856044) rotate(-10.000000) translate(-178.130202, -168.856044) ')

        .effect__circle
          svg(viewBox="0 0 100 100", width="100", height="100")
            circle(cx="50", cy="50", fill="none")#js-circle
        .effect__line.effect__line--1
          - var len = 900
          svg(viewBox="0 0 4 #{len}", width="4", height="#{len}")
            defs
              g.js-line#proto-line
                line(x1="2", x2="2", y1="0", y2="#{len}", stroke="red", stroke-dasharray="#{len} #{2*len}", stroke-dashoffset="#{len}")
                line(x1="2", x2="2", y1="0", y2="#{len}", stroke="red", stroke-dasharray="#{len} #{2*len}", stroke-dashoffset="#{len}")
                line(x1="2", x2="2", y1="0", y2="#{len}", stroke="red", stroke-dasharray="#{len} #{2*len}", stroke-dashoffset="#{len}")
            use(xlink:href="#proto-line", width="4", height="#{len}")
        .effect__line.effect__line--2
          svg(viewBox="0 0 4 #{len}", width="4", height="#{len}")
            use(xlink:href="#proto-line", width="4", height="#{len}")
        .effect__line.effect__line--3
          svg(viewBox="0 0 4 #{len}", width="4", height="#{len}")
            use(xlink:href="#proto-line", width="4", height="#{len}")

        .effect__line.effect__line--4
          svg(viewBox="0 0 4 #{len}", width="4", height="#{len}")
            use(xlink:href="#proto-line", width="4", height="#{len}")

      form1(action="").modal#js-modal
        .modal__close#js-close-button
          - var el = { path: 'close-icon', class: '', id: ''} 
          include css/partials/icon
        .modal__header Log In
        .modal__description this is dumb modal window, click × to close it
        .modal__section
          +input({ placeholder: 'username or email', id: 'name', type: 'text' })
        .modal__section
          +input({ placeholder: 'password', id: 'password', type: 'password' })
        .modal__section.grid.grid--sliced.grid--gutter-x2
          .grid-bit.grid-bit--14-20
            button(type="submit") log in
          .grid-bit.grid-bit--6-20
            button.button--grey cancel

      svg(style="display:none")
        image(width="480", height="450", xlink:href="")#proto-image.js-proto-image
      .break-parts#js-break-parts
        .svg-overlay#js-svg-overlay
          svg(viewBox="0 0 480 450")#js-svg1
            clipPath#clip1
              path(d="M0,450.575574 L0,0 L424.903452,0 L452.375,28.5599486 L20.5087638,460.426185 L0,450.575574 Z")
            use(xlink:href="#proto-image", clip-path="url(#clip1)")#js-image1
        .svg-overlay.svg-overlay--2
          svg(viewBox="0 0 480 450")#js-svg2
            clipPath#clip2
              path(d="M452.214614,28.6494713 L424.309513,0 L482.040672,0 L452.214614,28.6494713 Z")
            use(xlink:href="#proto-image", clip-path="url(#clip2)")#js-image2
        .svg-overlay.svg-overlay--3
          svg(viewBox="0 0 480 450")#js-svg3
            clipPath#clip3
              path(d="M452.320312,28.526424 L482,58 L482,0.066291362 L452.320312,28.526424 Z")
            use(xlink:href="#proto-image", clip-path="url(#clip3)")#js-image3
        .svg-overlay
          svg(viewBox="0 0 480 450")#js-svg4
            clipPath#clip4
              path(d="M452.270844,28.4954427 L482,57.8942871 L482,451 L29.2740886,450.99999 L452.270844,28.4954427 Z")
            use(xlink:href="#proto-image", clip-path="url(#clip4)")#js-image4

    script(src="js/jquery-2.1.3.min.js")
    script(src="js/howl.js")
    script(src="js/tween.js")
    script(src="js/html2canvas.js")
    script(src="dist/main.js")


    



